/*
Author:
SHUBHAM PRAKASH
LinkedIn: https://www.linkedin.com/in/ishubhamprakash/
GitHub: https://github.com/i-shubhamprakash
*/
html,
body {
    margin: 0;
    max-width: 100vw;
}
h1{
    font-size: 3.5rem;
}

img {
    max-width: 100%;
}
/* Theme color of the website */
nav,
.page-footer,
.btn {
    background: #00838f;
}

/* Contact page */
#contact-page-body {
    background-color:#F5F5F5;
}

/* Back to top button */
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 500;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
    z-index: 500;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}